.u-margin-bottom-s {
  margin-bottom: 1rem;
}

.u-margin-bottom-m {
  margin-bottom: 2rem;
}

.u-margin-bottom-l {
  margin-bottom: 4rem;
}

.u-margin-bottom-xl {
  margin-bottom: 6rem;
}

.rule {
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 70%;
  border-bottom: 1px solid $colorGreyLight;
}