// Fonts
$sansSerif: "Open Sans";

// Font Sizing
$baseFontSize: 1.6rem;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;

// Colors
$colorRed: #8d0404;
$colorRedDark: #4b0000;
$colorRedDark2: #440000;
$colorGrey: #565656;
$colorGreyLight: #aaaaaa;
$colorGreyLight2: #dddddd;
$colorGreyLight3: #eeeeee;
$colorGreyLight4: #fafafafa;
$colorGreyDark: #222222;
$colorBlue: #082aa9;
$colorWhite: #ffffff;

// Spacing
$pad: 1em;

// Breakpoints
$bpSmaller1: 87.5em; // 1400px
$bpSmaller2: 78.125em; // 1250px
$bpSmaller3: 75em; // 1200px
$bpSmaller4: 68.75em; // 1100px
$bpSmaller5: 62.5em; // 1000px
$bpSmaller6: 50em; // 800px
$bpSmaller7: 37.5em; // 600px
$bpSmaller8: 31.25em; // 500px
$bpSmaller9: 25em; // 400px

// Base: 1920px