// Fonts
$sansSerif: "Open Sans";

// Font Sizing
$baseFontSize: 1.6rem;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;

// Colors
$colorRed: #8d0404;
$colorRedDark: #4b0000;
$colorRedDark2: #440000;
$colorGrey: #565656;
$colorGreyLight: #aaaaaa;
$colorGreyLight2: #dddddd;
$colorGreyLight3: #eeeeee;
$colorGreyLight4: #fafafafa;
$colorGreyDark: #222222;
$colorBlue: #082aa9;
$colorWhite: #ffffff;

// Spacing
$pad: 1em;

// Breakpoints
$smallBreakpoint: 600px;
$largeBreakpoint: 1080px;
