// Fonts
$sansSerif: "Open Sans";

// Font Sizing
$baseFontSize: 1.6rem;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;

// Colors
$colorRed: #8d0404;
$colorGrey: #565656;
$colorGreyLight: #aaaaaa;
$colorBlue: #082aa9;

// Spacing
$pad: 1em;

// Breakpoints
$smallBreakpoint: 600px;
$largeBreakpoint: 1080px;
