html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 62.5%;
  // transition: all 0.1s;

  * {
    box-sizing: inherit;
  }
}

html {
  // background-color: $colorGreyLight3;
  // background-image: linear-gradient(to top, $colorRedDark2 -50%, $colorRedDark);
  background-image: linear-gradient(to top, $colorGreyLight2 -50%, $colorGreyLight4);
  background-attachment: fixed;
}

body {
  position: relative;
  background-color: $colorWhite;
  margin: 0 auto;
  width: 75%;
  max-width: 140rem;
  @include shadow;
}
