.section-welcome {
  padding: 0 7rem;
  text-align: center;

  @media screen and (max-width: $bpSmaller8) {
    padding: 0 3rem;
  }
}

.section-programs {
  text-align: center;
  padding: 0 10rem;

  @media screen and (max-width: $bpSmaller4) {
    padding: 0 5rem;
  }

  @media screen and (max-width: $bpSmaller8) {
    padding: 0 3rem;
  }
}

.section-reasons {
}

.section-reputation {
  padding: 0 10rem;

  @media screen and (max-width: $bpSmaller4) {
    padding: 0 5rem;
  }
  @media screen and (max-width: $bpSmaller8) {
    padding: 0 3rem;
  }
}

.section-abet {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100.05%;
  height: 40rem;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  background-image: url(../img/abet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.abet-logo {
  @media screen and (max-width: $bpSmaller6) {
    width: 80vw;
  }
}

.section-contact {
  text-align: center;
  padding: 0 5rem;

  img {
    width: 50vw;
    max-width: 30rem;
  }

  @media screen and (max-width: $bpSmaller8) {
    padding: 0 3rem;
  }
}
