.gallery {
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  background-image: url(../img/slide-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-2 {
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  background-image: url(../img/slide-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;

  width: 100.05%;
}

.gallery-content {
  display: flex;
  align-items: center;
  width: 100.05%;

  @media screen and (max-width: $bpSmaller6) {
    text-align: center;
    display: block;
    width: 80%;
  }
}

.gallery-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $bpSmaller6) {
    text-align: center;
  }
}

.gallery-image {
  @include shadow;
  margin-right: 3rem;
  width: 40rem;

  @media screen and (max-width: $bpSmaller5) {
    width: 30rem;
  }

  @media screen and (max-width: $bpSmaller6) {
    display: none;
  }
}

.gallery-text {
  width: 45rem;

  @media screen and (max-width: $bpSmaller5) {
    width: 45rem;
  }
}

.slideshow-dotnav {
  transform: translateY(-7rem);
}
