.gallery {
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  background-image: url(../img/slide-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100.05%;
  height: 50rem;
}

.gallery-content {
  display: flex;
  align-items: center;
}

.gallery-image {
  @include shadow;
  margin-right: 3rem;
  width: 40rem;
}

.gallery-text {
  width: 45rem;
}
