.programs-container {
  padding: 0 10rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.program-box {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.program-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 100rem;
  background-color: $colorRed;
}

.program-icon {
  fill: #ffffff;
  width: 3.5rem;
  height: 3.5rem;
}

.program-text-1 {
  margin-bottom: 1rem;
}
