.section-reasons-box {
  position: relative;
}

.section-reasons-image {
  position: absolute;
  top: 4rem;
  margin-left: 10%;
  width: 35vw;
  max-width: 50rem;
  transform: translateY(-5rem);
  @include shadow;
  z-index: 2;

  @media screen and (max-width: $bpSmaller6) {
    display: none;
  }
}

.section-reasons {
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  background-image: linear-gradient(
    to top right,
    $colorGreyLight2,
    $colorGreyLight3
  );
  padding: 5rem;
  width: 100.05%;
  display: grid;
  grid-template-columns: calc(10% + 30vw) 1fr;
  justify-items: center;
  
  @media screen and (max-width: $bpSmaller6) {
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
  }
}

.reasons-content {
  // text-align: center;
  h3 {
    margin-bottom: 1rem;
    
  }
}
